html{
    background: #aaa;
    color: #000;
}
body{
    background: #000;
}
body, .content, h1, .box1, .box2, .box3{
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: #ddd;
}
.content{
    background: #eee;
    height: 500px;
    text-align: center;
    margin: auto;
    padding-left: 100px;
}
h1{
    color: green;
}
h3{
    color: blue;
    text-decoration: underline;
}
p{
    color: #fff;
}
footer{
    clear: both; /*Clears left and right floats  */
}
/* FLOATS*/
.box1{
    background: rgb(239, 19, 7);
    margin-bottom: 20px;
    float: left;
    width: 20%;
    margin-right: 20px;
}
.box2{
    background: rgb(149, 149, 12);
    float: left;
    margin-bottom: 20px;
    width: 20%;
    margin-right: 20px;
}
.box3{
    background: rgb(4, 8, 203);
    float: left;
    width: 20%;
    margin-right: 20px;
}