<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- linke css -->
    <link rel="stylesheet" href="/Layouts/css/layouts.css">
    <title>Learn cSS layouts</title>
</head>

<body>
    <header>
        <h1>CSS LAYOUTS</h1>
    </header>
    <section class="content">
        <h3>NORMALE FLOW</h3>
        <article class="box1">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed suscipit recusandae quisquam autem id
                placeat deleniti saepe ratione, nesciunt voluptatem blanditiis, quidem et aperiam! Blanditiis ut nobis
                cumque? Temporibus, aliquid.</p>
        </article>
        <article class="box2">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas voluptatibus accusamus magnam.
                Perferendis eos error voluptates soluta molestiae qui et consectetur assumenda eligendi facilis tenetur
                ipsum officiis, doloribus autem dicta.
            </p>
        </article>
        <article class="box3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque sit, iste quod sequi id tenetur,
                nesciunt deserunt cum ab beatae? Doloremque, laboriosam. Provident sint doloribus in perspiciatis
                ducimus iusto!</p>
        </article>
    </section>

    <footer>
        <p>SOME FOOTER TEXT HERE </p>
    </footer>
</body>

</html>