<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- linke css -->
    <link rel="stylesheet" href="css/position.css">
    <title>Learn cSS    <p></p>osition</title>
</head>

<body>
    <header>
        <h1>CSS Poaition</h1>
    </header>
    <section class="container">
        <h3>NORMALE FLOW</h3>
        <article class="container_child">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed suscipit recusandae quisquam autem id
                placeat deleniti saepe ratione, nesciunt voluptatem blanditiis, quidem et aperiam! Blanditiis ut nobis
                cumque? Temporibus, aliquid.</p>
        </article>
    </section>

    <footer>
        <p>SOME FOOTER TEXT HERE </p>
    </footer>
</body>

</html>