
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

@font-face {
      font-family: jungle;
      src: url(../fonts/jungle.ttf)
}
*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

header{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 140px;
      padding: 20px;
      background: rgb(115, 167, 136, .8);
      margin-bottom: 20px;
}
header a {
 text-decoration: none;
}
.logo{
      background: url(../images/logo.png) no-repeat;
      font-family: jungle;
      font-size: 48px;
      height: 380px;
      width: 100px;
      background-size: 100px;
      padding-left: 100px;
      color: #135e46;
      text-shadow: 3px 3px black;
      transition: .3s;

}
.logo:hover {
      transform: translate(10px);
      color: white;
}
nav {
      display: flex;
      width: 40%;
      justify-content: space-around;
      align-items: center;
}
nav a {
      font-family: jungle;
      color: #b67b65;
      font-size: 26px;
      text-shadow: 2px 2px black;
}

nav a:hover{
color: white;
transform: scale(1.2);
}
.banner{
 width: 100%;
 height: 250px;
 background: url(../images/slothEating.jpg) no-repeat;   
 background-position: center;
 background-size: cover;
 margin-bottom: 20px;  
}
.contactAndHours{
      width: 100%;
      height: 450px;
      background: rgb(115, 167, 136, .8);

}

.contactAndHours h1{
      font-family: "Roboto", sans-serif;
      font-size: 28px;
      color: white;
      text-shadow: 2px 2px black;
      margin: 0 0 40px 30px;
      padding-top: 40px;
}
.formAndTable{
 width: 100%;   
 display: flex;
 justify-content: space-evenly;  
}
.contactForm input, textarea{
      border-radius: 10px;
      width: 300px;
      padding: 7px;
      margin-bottom: 10px;
      border: 2px solid black;
}
.contactForm  textarea{
height: 125px;
display: block;
}
.contactForm  label{
font-family: "Roboto", sans-serif;
color: white;
text-shadow: 2px 2px black;
display: block;
}

.contactForm  button{
font-family: "Roboto", sans-serif;
font-size: 17px;
background-color: #135e46;
color: white;
padding: 10px;
border-radius: 10px;
width: 100px;
border: none;
cursor: pointer;
}


footer{
      display: flex;
      height: 70px;
      width: 100%;
      border: solid 1px black;
      justify-content: space-evenly;
      align-items: center;
      font-family: "Roboto", sans-serif;
}
footer IMG {
      width: 50px;
}